input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 27px !important;
  font-weight: bolder !important;
  color: #d4d4d4;
}

div:nth-child(2) {
  font-size: 15px !important;
  font-weight: lighter !important;
}

.center-me {
  margin: 0 auto;
}
