@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-colors: (
  "custom-color-grey": #262626,
  "custom-color-grey-dark": #171717,
  "custom-color-grey-text-emphasis": #d4d4d4,
  "custom-color-grey-light": #323232,
  "custom-color-grey-lighter": #424242,
  "custom-color-grey-lighter2": #616161,
  "custom-color-orange": rgb(245, 118, 55),

  "custom-color-red": #cc5454,
  "custom-color-red-dark": #833939,

  "custom-color-green-dark": #3e7748,
  "custom-color-green": #5c9e5f,

  "custom-color-blue": #4f86b1,
  "custom-color-blue-dark": #356388,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$primary: #3f75a0;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
