#calendar {
  background-color: #262626;
  position: absolute;
  width: 100%;
  float: left;
  padding: 5px;
  margin: 18px, 15px, 15px, 5px !important;
  border-radius: 20px;
  padding-left: 10px;
  height: 90%;
}

.active {
  visibility: hidden;
}

.transition-up {
  animation-name: transition-up;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-out;
  z-index: 0;
}

@keyframes transition-up {
  from {
    visibility: none;
    opacity: 0;
    transform: translateY(750px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.transition-down {
  animation-name: transition-down;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-out;
  z-index: 0;
}

@keyframes transition-down {
  from {
    opacity: 1;
    height: 100%;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    height: 0;
    transform: translateY(750px);
    visibility: hidden;
  }
}

.transition-left {
  animation-name: transition-left;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-out;
  z-index: 0;
}

@keyframes transition-left {
  from {
    opacity: 0;
    height: 0;
    transform: translateX(750px);
    visibility: hidden;
    display: none;
  }
  to {
    height: 100%;
    opacity: 1;
    display: block;
    transform: translateX(0px);
  }
}

.transition-left {
  animation-name: transition-left;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: ease-out;
  z-index: 0;
}

/* @keyframes transition-reset {
    from {
      opacity: 0;
      visibility: hidden;

    }
    to {
      opacity: 1;
    }
  } 


  .transition-reset {
    animation-name: transition-left;
    transition-delay: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: ease-out;
    z-index: 0;
  
  } */
